

nav{
	margin: auto;
	background-color: rgb(17, 16, 16);
	font-size: 12px;
	overflow:visible;
}
#menu
{
    position: absolute;
    right: 0;
    top: 1em;
}

#menu ul
{
    display: inline-block;
}

#menu li
{
    display: block;
    float: left;
    text-align: center;
    line-height: 60px;
}

#menu li a, #menu li span
{
    display: inline-block;
    margin-left: 1px;
    padding: 0em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1.0em;
    text-transform: uppercase;
    outline: 0;
    color: #212121;
    background: #ECECEC;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
    background: #E24E2A;
    color: #FFF;
}

#menu .icon
{
}




#menu
{
    margin-top:15px
}

#menu ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#menu ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#menu ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#menu ul li.current-menu-item
{
    background:#ddd
}

#menu ul li:hover
{
    background:#f6f6f6
}

#menu ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#menu ul ul li
{
    float:none;
    width:200px
}

#menu ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#menu ul ul ul
{
    top:0;
    left:100%
}

#menu ul li:hover > ul
{
    display:block
}


#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
  }